@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 400;
    src: local('Metropolis'), url(./metropolis/Metropolis-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Metropolis';
    font-style: bold;
    font-weight: 700;
    src: local('Metropolis'), url(./metropolis/Metropolis-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Metropolis';
    font-style: medium;
    font-weight: 500;
    src: local('Metropolis'), url(./metropolis/Metropolis-Medium.otf) format('opentype');
}

html {
    box-sizing: border-box;
    background: #fff;
}

html, nav button {
    font-family: 'Metropolis', 'Arial', 'Helvetica', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: inherit;
}

body {
    color: #000;
    background: #fff;
}

h2,
h3,
h4,
h5,
h6,
footer,
h2 {
    font-size: 23px;
    margin: 15px 0 0 0;
    padding-bottom: 8px;
}

a {
    color: #09ad9a;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

p,
li {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.hide {
    display: none;
}

/* Columns framework */
.grid {
    margin: 0 auto;
    width: 90%;
    max-width: 944px;
    text-align: left;
}
.problem {
    background-color: white;
    color: #222d3e;
    margin: 0px;
}
.problem-section {
    background-color: white;
    color: #222d3e;
    margin-bottom: 40px;
}

.row {
    margin-left: -16px;
    *zoom: 1;
}
.row:before,
.row:after {
    content: ' ';
    display: table;
}
.row:after {
    clear: both;
}

.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-13,
.col-14,
.col-15,
.col-16,
.col-17,
.col-18,
.col-19,
.col-20,
.col-21,
.col-22,
.col-23,
.col-24,
.col-25,
.col-26,
.col-27,
.col-28,
.col-29,
.col-30 {
    float: left;
    display: inline;
    margin-left: 16px;
}

.col-2,
.gap-2 {
    width: 48px;
}
.col-3,
.gap-3 {
    width: 80px;
}
.col-4,
.gap-4 {
    width: 112px;
}
.col-5,
.gap-5 {
    width: 144px;
}
.col-6,
.gap-6 {
    width: 176px;
}
.col-7,
.gap-7 {
    width: 208px;
}
.col-8,
.gap-8 {
    width: 240px;
}
.col-9,
.gap-9 {
    width: 272px;
}
.col-10,
.gap-10 {
    width: 304px;
} /* sidebar */
.col-11,
.gap-11 {
    width: 336px;
}
.col-12,
.gap-12 {
    max-width: 368px;
    width: 39%;
} /* responsive */
.col-13,
.gap-13 {
    max-width: 400px;
    width: 42%;
} /* responsive */
.col-14,
.gap-14 {
    width: 432px;
}
.col-15,
.gap-15 {
    width: 464px;
}
.col-16,
.gap-16 {
    width: 496px;
}
.col-17,
.gap-17 {
    max-width: 528px;
    width: 55%;
} /* responsive */
.col-18,
.gap-18 {
    width: 560px;
}
.col-19,
.gap-19 {
    width: 592px;
}
.col-20,
.gap-20 {
    width: 624px;
} /* main */
.col-21,
.gap-21 {
    width: 656px;
}
.col-22,
.gap-22 {
    width: 688px;
}
.col-23,
.gap-23 {
    width: 720px;
}
.col-24,
.gap-24 {
    width: 752px;
}
.col-25,
.gap-25 {
    width: 784px;
}
.col-26,
.gap-26 {
    width: 816px;
}
.col-27,
.gap-27 {
    width: 848px;
}
.col-28,
.gap-28 {
    width: 880px;
}
.col-29,
.gap-29 {
    width: 912px;
}
.col-30,
.gap-30 {
    width: 944px;
} /* all */

.h-left {
    float: left;
    display: inline;
}
.h-right {
    float: right;
    display: inline;
}

/* Responsive columns */

@media screen and (max-width: 1048px) {
    .col-12,
    .col-13,
    .col-17 {
        max-width: none;
        width: 100%;
    }
}

/* Buttons framework */

/* Base Set-up */
input[type='file'].unb-hide {
    position: absolute;
    left: -9999px;
    top: -9999px;
}
input:focus,
textarea:focus {
    outline: none !important;
}

/* Text inputs */
.textfield {
    display: block;
    padding: 0px;
    background-color: rgb(253, 253, 253);
    overflow: hidden;
    border-bottom: 2px solid #000;
}

.textfield input[type='password'],
.textfield input[type='text'],
.textfield textarea,
.textfield select,
.txf-target {
    width: 100%;
    display: block;
    border: none;
    background: transparent;
    font-size: 16px;
    line-height: 38px;
    height: 48px;
    font-weight: bold;
    caret-color: #00ceb3;
}

.input-placeholder {
    transition: all 0.2s ease-in-out;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 12px;
    left: 0;
}
input::-webkit-input-placeholder {
    color: black;
}
input::-moz-placeholder {
    color: black;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus::-moz-placeholder {
    color: transparent;
}

input:focus + .input-placeholder,
input:valid + .input-placeholder {
    font-size: 12px;
    transform: translateY(-22px);
    position: absolute;
    color: black;
    font-weight: bold;
}

/* Placeholder */
.placeholder {
    position: relative;
}
.phr-filled .phr-marker {
    display: none;
} /* focus or filled with content states */
.phr-marker {
    position: absolute;
    left: 8px;
    top: 50%;
    margin-top: -10px;
    color: rgb(204, 204, 204);
    cursor: text;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-size: 16px;
}
.phr-marker:focus {
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.cnt-options {
    margin: 0;
    padding: 0;
    list-style: none;
}
.cnt-options li {
    margin: 0px 0 22px 0;
}
.cnt-options li.register span {
    display: block;
}

/* Buttons specific */

.btn {
    font-size: 11px;
    margin: 4px 0px 0px 0px;
    background: #00ceb3;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    padding: 16px 16px;
    outline: 0;
    border: 3px solid black;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.btn:active {
    background: #09ad9a;
}

.btn-warning {
    background: #000;
}

.btn-fill {
    width: 100%;
}

.btn-xl {
    font-size: 160%;
    padding: 12px 32px;
}

.icon-download {
    background-image: url('./img/icon-document.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 16px;
    padding-left: 20px;
}

/* Problems specific */

code,
pre {
    font-family: 'Monaco', 'Deja Vu Sans Mono', 'Ubuntu mono', 'Lucida Console', monospace;
    padding: 8px !important;
    border: none !important;
    margin-bottom: 10px;
    display: block !important;
    background-color: #eee;
    overflow: auto;
    width: auto;
    display: block;
}

.submit-feedback {
    font-family: 'Monaco', 'Deja Vu Sans Mono', 'Ubuntu mono', 'Lucida Console', monospace;
    background: none;
    margin: 0px;
    padding: 0px;
}

.feedback-line {
    color: #fff;
    white-space: pre;
}
.feedback-line-ok {
    color: #4f4;
    white-space: pre;
}
.feedback-line-error {
    color: #f44;
    white-space: pre;
}

.problem h3 {
    font-weight: bold;
    font-size: 18px;
    margin: 16px 0px 10px 0px;
}

.problem h4 {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
    border-bottom: 1px solid #eee;
}

.congrats {
    font-family: 'Monaco', 'Deja Vu Sans Mono', 'Ubuntu mono', 'Lucida Console', monospace;
    margin-bottom: 10px;
    overflow: auto;
    width: auto;
    display: block;
}

/* Layout specific */
header {
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
header > div {
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    margin: 0;
    padding: 0;
}
.logo a {
    display: block;
    margin: 0;
    padding: 0;
    width: 348px;
    height: 60px;
    background: url('logo9.svg?0') no-repeat top left;
    text-indent: -9000em;
}

nav, nav button {
    text-transform: uppercase;
    font-size: 11px;
}

header nav {
    height: 92px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
nav li {
    float: left;
    padding: 0;
    margin: 0;
    height: 92px;
    display: flex;
    align-items: center;
}
nav li:last-child:after {
    content: '';
}
nav a {
    margin-left: 32px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: none;
}
nav .active a {
    border-top: 2px solid transparent;
    border-bottom: 2px solid #00ceb3;
}

header nav a {
    display: flex;
    height: 92px;
    align-items: center;
}

nav button {
    height: 92px;
    border: 0;
    color: #000;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    margin: 0 32px;
    font-weight: bold;
}

.mobile-nav {
    display: none;
    height: 48px;
}

.mobile-nav ul {
    display: flex;
    justify-content: space-around;
}

.mobile-nav li,
.mobile-nav a {
    height: 48px;
}

.mobile-nav a {
    margin: 0;
}

.desktop-nav {
    display: block;
}

.content {
    padding: 60px 0;
    color: #000;
    line-height: 1.5em;
    min-height: calc(100vh - 489px); /* header + footer height aprox */
}

.content-container {
    position: relative;
}

.content-container .content {
    position: relative;
}

.circle-red {
    position: absolute;
    top: 50%;
    background: url(icn-circle-red.svg);
    width: 211px;
    height: 211px;
    transform: translate(-106px, -151px);
}

.circle-green {
    position: absolute;
    top: 50%;
    right: 0;
    background: url(icn-circle-green.svg);
    width: 87px;
    height: 173px;
    transform: translate(0px, 25px);
}

.footer-big-logo {
    background: url(tc9.png);
    width: 510px;
    height: 211px;
    display: block;
    margin: -40px auto 0;
    background-size: 510px 427px;
}

@media screen and (max-width: 680px) {
    .mobile-nav {
        display: block;
    }
    .desktop-nav {
        display: none;
    }

    .content {
        padding: 20px !important;
    }

    header > div {
        height: 74px;
    }
}

.cnt-form {
    margin-top: 20px;
}
.message {
    text-align: right;
}

::-webkit-input-placeholder {
    color: rgb(204, 204, 204);
    cursor: text;
    font-size: 16px;
}
::-moz-placeholder {
    color: rgb(204, 204, 204);
    cursor: text;
    font-size: 16px;
} /* firefox 19+ */
:-ms-input-placeholder {
    color: rgb(204, 204, 204);
    cursor: text;
    font-size: 16px;
} /* ie */
input:-moz-placeholder {
    color: rgb(204, 204, 204);
    cursor: text;
    font-size: 16px;
}

.textfield.error {
    border-color: red;
}

div:not(.textfield).error {
    margin: 16px 0px;
    border: 0;
    background: #000;
    color: #fff;
    padding: 16px;
    font-weight: bold;
}

.success {
    margin: 16px 0px;
    border: 0;
    background: #000;
    color: #fff;
    padding: 16px;
    font-weight: bold;
}

.group {
    background: #f0f0f0;
    padding: 1px 16px 1px 16px;
}

.center {
    margin-top: 20px;
    text-align: center;
}

.content article {
    font-size: 18px;
}

.scl-menu li {
    list-style: none;
    float: left;
    padding-left: 8px;
}

/* Footer */

.footer-decorations {
    position: relative;
    height: 100px;
    overflow: hidden;
}

footer {
    padding: 77px 0 50px 0;
    margin: 0;
    position: relative;
    background: #000;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}

/* Form */

.form:after {
    content: '';
}

/* Tables */

table.status {
    margin: 32px auto 8px auto;
}

table.status th,
table.status td {
    padding: 16px;
}
table.status th {
    width: 200px;
    font-weight: bold;
    background: #f0f0f0;
}
table.status td {
    width: 300px;
    text-align: center;
    padding: 16px;
}

table.status,
.status tr,
.status th,
.status td {
    border: 1px solid #e0e0e0;
}

table.ranking {
    margin-top: 20px;
}
table.ranking th,
table.ranking td {
    padding: 4px 6px;
    text-align: center;
}
table.ranking th {
    background: none;
    width: 24px;
}
table.ranking th.name-status {
    width: 200px;
    text-align: center;
    background: #f0f0f0;
}
table.ranking td {
    width: auto;
}
table.ranking td:first-child {
    background: #f0f0f0;
    white-space: nowrap;
}

.cnt-form {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
}

.cnt-form .form-content {
    border: 4px solid black;
    padding: 32px 32px 52px;
    z-index: 1;
    width: 100%;
    background: white;
}

.cnt-form .background {
    position: absolute;
    border: 4px solid black;
    top: 16px;
    left: 16px;
    width: 100%;
    height: 100%;
    background: #00ceb3;
}

.register-btn {
    width: 223px;
    margin-top: 32px;
    transition: all 0.2s ease-in-out;
}

.register-btn:disabled {
    background: white;
    border-color: #999;
    color: #999;
}

.cnt-form h2 {
    display: inline;
    font-size: 24px;
}

.cnt-form .form-header {
    width: 100%;
    border-bottom: 4px solid black;
    height: 52px;
    margin-bottom: 24px;
}

.cnt-form .form-message {
    font-size: 14px;
    font-weight: bold;
    margin-left: 16px;
}

.cnt-form .form-message.error {
    color: red;
}

.cnt-form .textfield {
    max-width: 323px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: #00ceb3;
}

/* Registry page */

.registry article {
    font-size: 14px;
    line-height: 1.86;
    font-weight: 500;
}

.registry article h2 {
    font-size: 40px;
    position: relative;
}

.registry article {
    position: relative;
}
.registry article .underline {
    width: 61px;
    margin-bottom: 24px;
    border-bottom: 4px solid #00ceb3;
}

.registry .big-9-img {
    float: right;
    width: 551px;
    margin-left: -10px;
    margin-right: -80px;
}

.registry .cubes-img {
    position: absolute;
    right: -52px;
    bottom: 96px;
    z-index: 1;
}

.registry .cloud-img {
    position: fixed;
    top: 850px;
    left: 75px;
}

.cnt-form .circle-22 {
    position: absolute;
    top: 22px;
    right: 21%;
}

.cnt-form .circle-42 {
    position: absolute;
    top: -22px;
    right: 29%;
}

.circle-22 {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #00ceb3;
}

.circle-42 {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #00ceb3;
}

.registry .circle-left {
    position: fixed;
    top: 500px;
    left: -105px;
    width: 211px;
    height: 211px;
    border-radius: 50%;
    background: #00ceb3;
}

.registry .circle-rigth {
    position: fixed;
    top: 700px;
    right: -75px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #00ceb3;
}

.registry .register-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    font-size: 14px;
}

.register-success .success-title {
    margin-top: 24px;
    font-weight: bold;
}

.register-success .success-message {
    margin-top: 16px;
}

.success-circle {
    height: 150px;
    width: 150px;
    background: #00cfbb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1048px) {
    .registry .big-8-img,
    .registry .circle-rigth,
    .registry .cubes-img {
        display: none;
    }
}

@media screen and (max-width: 599px) {
    .no-mobile {
        display: none;
    }
}

.checkbox {
    position: relative;
    padding: 0 32px;
}
.checkbox input[type='checkbox'] {
    display: none;
}

.checkbox label:before {
    position: absolute;
    left: 0;
    content: '';
    border-radius: 2px;
    width: 24px;
    height: 24px;
    border: 3px solid #000;
}

.checkbox input:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 6px;
    border-radius: 2px;
    background-color: #00cfbb;
    width: 12px;
    height: 12px;
    border: 3px solid #000;
}

input[required] + .input-placeholder:after {
    content: '*';
    color: #00ceb3;
    margin-left: 4px;
}

/* Registry soon page */

.registry-soon article {
    text-align: center;
}
.registry-soon h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 64px;
}
.registry-soon .text-come-back {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
}

.registry-soon .text-meanwhile {
    font-size: 14px;
}

.registry-soon hr {
    margin: 16px auto;
    width: 40px;
    height: 3px;
    border: none;
    background: #00ceb3;
}

/* Countdown  */

.countdown {
    margin: 0 auto 24px auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.countdown > li {
    z-index: 1;
    text-align: center;
    display: block;
    font-weight: bold;
    width: 120px;
}

.countdown > li .unit {
    font-size: 14px;
    margin-bottom: 8px;
}

.countdown > li .value {
    line-height: 1em;
    font-size: 80px;
}

@media screen and (max-width: 599px) {
    .countdown {
        width: 300px;
    }

    .countdown > li {
        width: 60px;
    }

    .countdown > li .unit {
        font-size: 11px;
    }

    .countdown > li .value {
        font-size: 40px;
    }
}
